# Git
.git

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environments
.venv/
venv/

# Caches and local files
.pytest_cache/
synergesis.egg-info/
.idea/

# Databases
glyphs.db

# Archives
*.zip

# OS-specific
.DS_Store
Thumbs.db

# Documentation and text files (likely not needed in image)
*.md


# Unused project folders
Glyph engine/
Project Submission_ SYNGLYPH_CORE_PACKAGE_YELIN/
SYNGLYPH_CORE_PACKAGE_YELIN/
Syn 2.0/
Syn sans magie/
SynGPT architecture/
Synergesis_Files/
Synergesis_PhaseIII_System(1)/
Synergesis_PhaseIII_TXT_Bundle/
Synergesis_v1.1_light/
